*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-image: url('./Assignments/img/t1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#bt2:hover{
    margin-top: 5px !important;
    box-shadow:10px 10px 25px 10px rgba(134, 133, 133, 0.3);
}


/* 

/* #bt2 :hover{
background-color: black !important;
} */
/* body{
    /* background-image: url("1.jpg"); */
    /* background-color: rgb(100, 221, 237) !important; */

/* } */ 
