 .darkMode{
   background-color: #333333;
   color: white;
 }
 .mediacard{
   text-decoration: underline;
 }
 .lightmode{
   background-color: white;
   color: #333333;
 }
 /* https://chrome.google.com/webstore/detail/colorzilla/bhlhnicpbhignbdhedgjhgdocnmhomnp/related?hl=en */